In [17]:
%load_ext autoreload
%autoreload 2

import pickle
import pandas as pd
import numpy as np

import sys
sys.path.append("../")
from src import soporte_eda_y_outliers as s_eda, soporte_encoding as s_encoding, soporte_scaling as s_scaling

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## En el modelo anterior tuvimos dos principales problemas, el overfitting general y crear un encoding más claro. Intentaremos paliar esos problemas empezando por el EDA.

In [18]:
df_survey = pd.read_csv("../datos_origen/employee_survey_data.csv")
df_general = pd.read_csv("../datos_origen/general_data.csv")
df_manager = pd.read_csv("../datos_origen/manager_survey_data.csv")

In [19]:
df_a = df_survey.merge(df_manager, on= "EmployeeID", how = "inner")
df = df_a.merge(df_general, on= "EmployeeID", how = "inner")
df

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Age,Attrition,BusinessTravel,Department,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,1,3.0,4.0,2.0,3,3,51,No,Travel_Rarely,Sales,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,2,3.0,2.0,4.0,2,4,31,Yes,Travel_Frequently,Research & Development,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,3,2.0,2.0,1.0,3,3,32,No,Travel_Frequently,Research & Development,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,4,4.0,4.0,3.0,2,3,38,No,Non-Travel,Research & Development,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,5,4.0,1.0,3.0,3,3,32,No,Travel_Rarely,Research & Development,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,4.0,1.0,3.0,3,3,42,No,Travel_Rarely,Research & Development,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,4407,4.0,4.0,3.0,2,3,29,No,Travel_Rarely,Research & Development,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,4408,1.0,3.0,3.0,3,4,25,No,Travel_Rarely,Research & Development,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,4409,4.0,1.0,3.0,2,3,42,No,Travel_Rarely,Sales,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,4410,1.0,3.0,NaN,4,3,40,No,Travel_Rarely,Research & Development,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [20]:
df = df.drop(columns = ["Over18","EmployeeCount","StandardHours"])
df["Attrition"] = df["Attrition"].map({"Yes": 1, "No": 0})

El análisis original era correcto. Ahora vamos a eliminar otras variables en el preproceso, con intención de buscar algo más de información contextual. En primer lugar eliminaremos "PerformanceRating" frente a "PercentSalaryHike" porque en nuestro modelo el sueldo tenía más importancia que la performance. Aunque sueldo y el porcentaje de subida no parecen estar relacionados puede aportar valor extra. Eliminaremos "Yearswithcurrentmanager" frente a "Yearsatcompany", pues aunque hayamos visto que esuna variable muy importante en el modelo, ya hemos contestado a la pregunta anterior y queremos ver si tiene que ver con el efecto de los años en la empresa. Haremos lo mismo con "Age" y "YearsSinceLastPromotion"

In [21]:
visual = s_eda.Visualizador(df)
visual.dataframe_correlación()

In [22]:
df.drop(columns = ["PerformanceRating","YearsWithCurrManager","TotalWorkingYears","YearsSinceLastPromotion"],inplace = True)

Aquí no tocaremos los tipos de cambio del salario, esperamos que un menor tipo de cambio nos de mayor capacidad de análisis fino

Guardamos y probamos :)

In [23]:
df.to_pickle("../datos_dfs/pickle2_preprocesado.pkl")